*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    width: 100%;
    height: 100vh;
    background-color: rgb(226, 73, 124);
    display: flex;
    justify-content:center;
    align-items: center;
}
.box{
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.top{
    height: 35%;
    width: 100%;
    background-color:rgb(249, 91, 128);
}
.image{
    justify-content: center;
    margin: 100px 150px;
    border-radius: 50%;
}
.midbox{
    height: 65%;
    width: 100%;
    display: block;
    align-items: center;
}
.mid{
    width: 100%;
    height: 40%;
    text-align: center;
    padding: 80px 70px;
}
.bottom{
    border-top: 0.5px solid rgb(144, 144, 144);
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.detail{
    width: 33%;
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
}
.font{
    font-weight: initial;
}
